@font-face {
    font-family: "Hack-Regular";
    src: url(./Hack-Regular.ttf);
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3.4rem;
  font-weight: 200;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #93d3be99;
}
h3 {
  font-size: 1rem;
  font-weight: 200;
}
h4 {
  font-size: 1rem;
  font-weight: 200;
  color: #618a7c99;
}
#orange {
  color: rgba(255, 166, 0, 0.704);
}
#green-light {
  color: #93d3be99;
}
#red {
  color: rgba(255, 93, 93, 0.7);
}
#blue {
  color: rgba(37, 171, 254, 0.768);
}
#purple {
  color: rgba(215, 108, 215, 0.732);
}
#green {
  color: #80ff8070;
}
#green-dark {
  color: #618a7c62;
}
#green_hex {
color: #80FF80;
}
#blue-light {
color: rgb(88, 143, 210);
}
#white {
color: rgb(208, 208, 208);
}
body {
  font-family: "Hack-Regular", sans-serif;
  color: #618a7c99;
  background: #2a3331;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.section1 {
  display: flex;
  align-items: normal;
  justify-content: center;
  padding: 10px;
  margin-top: 100px;
}
.container1 {
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  border: 1px solid #436257;
  background: repeating-linear-gradient(
  0deg,
  #618a7c1e,
  #618a7c1b 2px,
  #b2ffe507 2px,
  #b2ffe507 4px
);
}
.glitch img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.glitch
  {
    position: relative;
    background: url(./portrait.png);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.glitch:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: url(./portrait2.png);
    background-size: cover; /* contain for split effect */
    opacity: 0.2;
    /* mix-blend-mode: hard-light; */
    animation: glitch 1s linear infinite;
}
@keyframes glitch
{
	0%
	{
		background-position: 0 0;
	}
	10%
	{
		background-position: 15px 0;
	}
	15%
	{
		background-position: -15px 0;
	}
	20%
	{
		filter: hue-rotate(360deg);
	}
  25%
	{
		background-position: 0 0;
	}
  100%
	{
		background-position: 0 0;
		
	}
}
.titleandlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.title {
  height: 60px;
  width: 200px;
  color: #80ff80;
  /* background: #1f2825; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  position: relative;
}
.logo img {
  position: absolute;
  height: 2px;
  left: -77px;
  bottom: -20px;
}
.social-media {
    font-size: 2rem;
    float: right;
    margin-top: 15px;
}
.social-media a {
    color: #93d3be99;    
}
.social-media a:hover {
    color: #80FF80;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #1f2825;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0rem;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  width: 80px;
  bottom: 115%;
  left: 40%;
  margin-left: -40px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.identity-text {
  margin-top: 82px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container2 {
  width: 800px;
  height: 280px;
  padding: 30px;
  border: 1px solid #436257;
  background: repeating-linear-gradient(
  0deg,
  #618a7c1e,
  #618a7c1b 2px,
  #b2ffe507 2px,
  #b2ffe507 4px
);
}
.myskills-title {
  margin-bottom: 15px;
}
.myskills .progress{
  width: 100%;
}
.myskills .progress .tech div{
  background: #93d3be99;
  height: 10px;
}
.myskills .progress .tech div span{
  background: linear-gradient(90deg, rgb(39, 76, 39) 0%, rgb(70, 137, 70) 63%, rgba(128,255,128,1) 100%);
  height: 10px;
  display: block;
  line-height: 10px;
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 0.65rem;
}
.tech {
  margin-bottom: 10px;
}
.consulting {
  margin-top: 15px;
}
@media screen and (max-width: 740px) {
  .section1 {
    padding: 10px;
    margin-top: 10px;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 780px;
  }
  .social-media {
    float: none;
    text-align: center;
}
.identity-text {
  margin-top: 40px;
}
.container2 {
  width: 550px;
  height: 280px;
}

}