@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gruppo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #69CDD7;
  list-style: none;
  text-decoration: none;
}
a:hover {
  color: #fba8d1;
}
#orange {
  color: #fba8d1;
}
#green-light {
  color: #519ea4;
}
#red {
  color: rgb(242, 251, 79);
}
#blue {
  color: rgb(37, 171, 254);
}
#purple {
  color: rgb(126, 186, 254);
}
#green {
  color: #80ff80;
}
#green-dark {
  color: #618a7c62;
}
#green_hex {
color: #69CDD7;
}
#blue-light {
color: rgb(111, 176, 255);
}
#white {
color: rgb(208, 208, 208);
}
body {
  font-family: monospace;
  color: #69CDD7;
  background: rgb(38, 39, 63);
  display: flex;
  align-items: center;
  justify-content: center;
  
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container {
  width: 450px;
  background: #1a1b2b;
}
.title h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-size: 9rem;
}
.title h2 {
  text-align: center;
  font-size: 1.5rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
}
.portrait img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #69CDD7;
}
.social-media {
  margin-top: 5px;
  font-size: 2.5rem;
}
.tooltip {
position: relative;
display: inline-block;
}
.tooltip .tooltiptext {
visibility: hidden;
background-color: #fba8d1;
border-radius: 10px;
color: #203e41;
text-align: center;
font-size: 1rem;
letter-spacing: 0rem;
padding: 10px;
/* Position the tooltip */
position: absolute;
width: 100px;
bottom: 115%;
left: 40%;
margin-left: -40px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip:hover .tooltiptext {
visibility: visible;
}
.identity {
padding: 22px;
}
.identity-text {
  font-size: 1.2rem;
}
.shop {
  background: #353758;
  height: 200px;
  padding: 40px;
}
#factory {
  color: #fba8d1;
}
#description {
  color: #a3ced2;
  margin-top: 20px;
}
.shop h1 {
  margin-bottom: 10px;
}
.shop i {
  margin-top: 30px;
  font-size: 1.5rem;
  margin-top: -2px;
}
.button {
  position: relative;
}
.btn {
  font-family: monospace;
  position: absolute;
  bottom: -20px;
  right: -15px;
  max-width: max-content;
  background: transparent;
  color: #69CDD7;
  font-size: 1.2rem;
  font-weight: 500;
  border: 2px solid #69CDD7;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background: #ffdeef38;
  border: 2px solid #fba8d1;
  color: #fba8d1;
}
@media screen and (max-width: 549px) {
  .container {
    width: 350px;
  }
  .title h1 {
    font-size: 5rem;
  }
  .title h2 {
    font-size: 1rem;
  }
  .identity {
    padding: 10px;
    margin-left: 30px;
    }
  .identity-text {
    font-size: 0.7rem;
  }
  .shop i {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.7rem;
   
  }
  
}








  
